<ul class="categories-container">
  <li><a href="#">Category One</a></li>
  <li><a href="#">Category Two</a></li>
  <li><a href="#">Category Three</a></li>
</ul>

<!-- <md-list>
  <md-list-item class="md-2-line">
    <div class="md-list-text">
      Test Text
    </div>
    <div class="md-list-item-text">
      <h3>Category #1</h3>
      <p>Category Short Description</p>
    </div>
  </md-list-item>
  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>Category #2</h3>
      <p>Category Short Description</p>
    </div>
  </md-list-item>
  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>Category #3</h3>
      <p>Category Short Description</p>
    </div>
  </md-list-item>
</md-list> -->

<footer></footer>
